server: 
  port: 9003
spring: 
  application:  
    name: twesqu-search #指定服务名
#  datasource:
#    driverClassName: com.mysql.jdbc.Driver
#    url: jdbc:mysql://127.0.0.1:3306/twesqu_article?characterEncoding=UTF8
#    username: root
#    password: root
#  jpa:
#    database: MySQL
#    show-sql: true
  data:
      elasticsearch:
        client:
          reactive:
            endpoints: local:9300
