server: 
  port: 9002
spring: 
  application:  
    name: twesqu_article #指定服务名
  datasource:  
    driverClassName: com.mysql.jdbc.Driver
    url: jdbc:mysql://localhost:3306/twesqu_article?serverTimezone=Asia/Shanghai&useUnicode=true&characterEncoding=utf-8&useSSL=false&zeroDateTimeBehavior=convertToNull&autoReconnect=true&failOverReadOnly=false
    username: root
    password: root
  jpa: 
    database: MYSQL
    show-sql: true
  redis:
    host: localhost
  data:
    mongodb:
      host: localhost
      database: discudb