server: 
  port: 9004
spring: 
  application:  
    name: twesqu-user #指定服务名
  datasource:  
    driverClassName: com.mysql.jdbc.Driver
    url: jdbc:mysql://127.0.0.1:3306/twesqu_user?serverTimezone=Asia/Shanghai&useUnicode=true&characterEncoding=utf-8&useSSL=false&zeroDateTimeBehavior=convertToNull&autoReconnect=true&failOverReadOnly=false
    username: root
    password: root
  jpa: 
    database: MySQL
    show-sql: true
  redis:
    host: localhost
  rabbitmq:
    host: localhost

# ttl 有效期20分钟
jwt:
  config:
    key: twesqu
    ttl: 1200000

eureka:
  client:
    service-url:
      defaultZone: http://localhost:6868/eureka
    instance:
      prefer-ip-adderss: true
